@import "./variables";
@import "./mixin";

$fixed-text-width: 14.5rem;

.aboutMeSection {
  width: 100%;
  padding: 4.5rem;
  @include flex-vertical;
  justify-content: center;
  align-items: flex-start;
  font-size: $extra-large;
  font-weight: 600;

  ul {
    margin: 0;
  }

  .spinnerContainer {
    @include flex-vertical;
    width: 100%;
  }
  
  .spinnerWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;

    > span {
      width: $fixed-text-width;
    }
  }

  .spinner {
    flex: 1;
    height: 15.5rem;
    overflow-y: hidden;
    line-height: calc($extra-large - 0.25rem);
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, $black 0%, rgba(196, 196, 196, 0) 30%, rgba(80, 80, 80, 0) 70%, $black 100%);
    }

    > li {
      margin-bottom: 2rem;

      &:nth-child(1) {
        color: $blue-primary;
      }
      &:nth-child(2) {
        color: $green-primary;
      }
      &:nth-child(3) {
        color: $pink;
      }
      &:nth-child(4) {
        color: $red;
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(196, 196, 196, 0) 27.5%, rgba(80, 80, 80, 0.2) 71.53%, #000000 100%);
  }

  .description {
    font-size: $highlight;
    font-weight: 600;
    line-height: calc($highlight - 0.25rem);
    text-align: left;
    width: 100%;
  }
}

@include mobile-and-tablet {
  .aboutMeSection {
    padding: 2.5rem;
    font-size: $header;

    .spinnerWrapper {
      @include flex-vertical;
      width: 100%;
      align-items: flex-start;
      margin-bottom: 1.5rem;
    }

    .spinner {
      flex: none;
      font-size: $highlight;
      line-height: calc($highlight - 0.25rem);
      margin-top: 1rem;
    }

    .description {
      font-size: $button-text;
      line-height: calc($button-text + 0.25rem);
    }
  }
}