@import "./variables";
@import "./mixin";

.sideBarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100%;
  width: 100%;
  .overlay {
    background-color: $overlay;
    height: 100%;
    width: 100%;
  }
  .contentContainer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 51;
    height: 100%;
    min-width: 25rem;
    width: 35%;
    background-color: $green-primary;
  }
}

@include mobile-and-tablet {
  .sideBarWrapper {
    .contentContainer {
      width: 100%;
      min-width: unset;
    }
  }
}