@import "./variables";
@import "./mixin";

$buttonHeight: 3rem;

.contactButton {
  @include button;
  width: 10rem;
  background-color: $grey-light;
  font-size: $desc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0 1.5rem;
  .circle {
    $circleWidth: calc($buttonHeight - 1rem);

    background-color: $green-primary;
    height: $circleWidth;
    width: $circleWidth;
    border-radius: calc($circleWidth/2);
    display: flex;
    align-items: center;
    filter: $narrow-shadow;
    
    > svg {
      margin: 0 auto;
    }
  }
}

.sidebarContentWrapper {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $black;
  
  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    > p {
      color: $grey;
      font-size: $desc;
      text-align: center;
    }
  }

  h1 {
    font-size: $extra-large;
    font-weight: bold;
    margin: 4rem 0;
  }

  svg {
    cursor: pointer;
  }

  .buttonsWrapper {
    flex: 1;
    > button:first-child {
      margin-bottom: 1rem;
    }
  }

  .iconsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    > li {
      border: 1px solid $black;
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 3.75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 1.25rem;
      a {
        padding: 1rem;
      }
    }
  }
}