@import "./variables";
@import "./mixin";

$stepCount: 3;
$progressBarHeight: 12rem;

.experienceSection {
  @include flex-horizontal;
  margin: 0 2rem;
  
  .progressBar {
    background-color: $blue-primary;
    width: 0.25rem;
    height: $progressBarHeight;
    position: relative;
    padding: 0.5rem 0;
    margin-right: 10rem;
  }
  .progressBarBg {
    background-color: $grey-light;
    height: 100%;
  }
  .progressStep {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    width: 8rem;
    position: absolute;
    left: -0.375rem;

    &.step-0 {
      top: 0;
    }
    &.step-1 {
      top: calc(50% - 0.375rem);
    }
    &.step-2 {
      bottom: 0;
    }

    .progressIndicator {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      border: 0.125rem solid $grey-light;
      background-color: $black;
    }
    .progressLabel {
      font-size: $desc;
      white-space: nowrap;
      color: $grey-light;
      margin-left: 1rem;
    }
  }

  .cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@include mobile-and-tablet {
  .experienceSection {
    .progressBar {
      display: none;
    }
  }
}