@import "./variables";
@import "./mixin";

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  position: fixed;
  background-color: $black;
  z-index: 100;

  .linkText {
    font-size: $button-text;
    cursor: pointer;
  }
}

@include mobile-and-tablet {
  .mainHeader {
    padding-top: 1rem;
  }
}