@import "./variables";
@import "./mixin";

.mainHome {
  @include flex-horizontal;
  justify-content: center;
  
  .descriptionContainer {
    > h1 {
      font-size: $extra-large;
      font-weight: bold;
      line-height: calc($extra-large - 0.5rem);
    }
    > h2 {
      font-size: $button-text;
      font-weight: normal;
    }
  }
  .canvasContainer {
    width: 50%;
  }
}

@include mobile-and-tablet {
  .mainHome {
    @include flex-vertical;
    margin: 0 2.25rem;

    .descriptionContainer {
      > h1 {
        font-size: $highlight;
        line-height: calc($highlight - 0.25rem);
        font-weight: 600;
      }
      > h2 {
        font-size: $desc;
      }

    }

    .canvasContainer {
      width: 100%;
    }
  }
}