@import "./variables";
@import "./mixin";

.projectSection {
  width: 100%;

  .projectsContainer {
    @include flex-vertical;
    width: 100%;
    padding: 0 20%;
  }
}

@include mobile-and-tablet {
  .projectSection {
    .projectsContainer {
      padding: 0 2.25rem;
    }
  }
}