@import "./variables";
@import "./mixin";

.projectSection {
  width: 100%;
  background-color: #171717;
  padding: 10% 20%;
  box-shadow: 0 0 15px #171717, 0 0 15px #171717;

  .projectsContainer {
    @include flex-vertical;
    width: 100%;
  }

  > h1 {
    display: none;
  }
}

@include mobile-and-tablet {
  .projectSection {
    padding: 4rem 2.25rem;

    > h1 {
      display: block;
      font-size: $header;
      text-align: right;
      color: $green-primary;
      border-bottom: 1px solid $white;
    }
  }
}